body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: OpenSans;
  src: local('OpenSans'), url(./scss/fonts/Open_Sans/OpenSans-Regular.ttf) format('ttf');
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: local('OpenSans-SemiBold'), url(./scss/fonts/Open_Sans/OpenSans-SemiBold.ttf) format('ttf');
}

@font-face {
  font-family: OpenSans-Bold;
  src: local('OpenSans-Bold'), url(./scss/fonts/Open_Sans/OpenSans-Bold.ttf) format('ttf');
}

@font-face {
  font-family: Oswald;
  src: local('Oswald'), url(./scss/fonts/Oswald/Oswald-Regular.ttf) format('ttf');
}

@font-face {
  font-family: Oswald-SemiBold;
  src: local('Oswald-SemiBold'), url(./scss/fonts/Oswald/Oswald-SemiBold.ttf) format('ttf');
}
