/* color palette */
$primary: #9BE3DE;
$secondary: #FFE87C;

$lightgray: #eeeeee;
$background: white;

//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald:400,700&display=swap');

@font-face {
  font-family: 'Oswald-Extra-Light';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v29/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Oswald-Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v29/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Oswald-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v29/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Oswald-Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v29/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Oswald-Semi-Bold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v29/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Oswald-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v29/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Font */
// $defaultfont: 'Oswald-Extra-Light';
// $boldfont: 'OpenSans-Bold';
// $semiboldfont: 'OpenSans-SemiBold';
// $titlefont: 'Oswald';
// $titleboldfont: 'Oswald-Bold';
$f1: 'Oswald-Extra-Light';
$f2: 'Oswald-Light';
$f3: 'Oswald-Regular';
$f4: 'Oswald-Medium';
$f5: 'Oswald-Semi-Bold';
$f6: 'Oswald-Bold';


:export { primary: $primary; }

/* page class */
body {
  font-family: 'Open Sans';
}

.outer-wrap {
  background: white;
  height: 100vh;
  overflow: hidden;
}

.page-wrap {
  background: $background;
  text-align: center;
  padding: 0px 0px 0px 0px !important;
  height: 100vh;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.41);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.41);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
}


%horizontal-div{
  background: $lightgray;
  width: 100%;
  //position: relative;
  box-shadow: 0 2px 10px 0 rgba(105,99,99,0.35);
}


.horizontal-div-above{
  @extend %horizontal-div;
  box-shadow: 0 0px 0 0 rgba(105,99,99,0.35);
  height: 40px;
  z-index: 2;
}

.horizontal-div-mid{
  @extend %horizontal-div;
  box-shadow: 0 0 5px 0 rgba(105,99,99,0.35);
  height: 4%;
  z-index: 1;
}

.div-content{
  @extend %horizontal-div;
  padding: 2%;
  box-sizing: border-box;
  background: transparent;
  box-shadow: 0 0 0 0 rgba(105,99,99,0.35);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 !important;
}

.horizontal-div-below{
  @extend %horizontal-div;
  height: 10%;
  bottom: 0;
  background: $primary;
  box-shadow: 0 -2px 10px 0 rgba(105,99,99,0.35);
}

.title{
  margin: auto;
  height: 40px; /*requires explicit height*/
  font-family: $f3;
  font-weight: 400;
  font-size: 1.6pc;
  color: white;
}

.profile{
  text-align:center;
}

.profile-info{
  justify-content: center;
}

.row-line{
  padding: 0 2px;
}
