@import '_base.scss';

/*--------------------------------------------------
--------------------------------------------------
These are for CreateGroup.js
--------------------------------------------------
--------------------------------------------------*/
.create-title{
  border-radius: 10px;
  height: 40px; /*requires explicit height*/
  font-family: $f3;
  font-size: 2pc;
  text-align: left;
  color: black;
}

.custom-close-icon {
  animation: 0.3s rotate90Counter;
  color: black;
  font-size: 1.5rem;
  vertical-align: middle;
  cursor: pointer;
  background: white;
  border-radius: 100%;
  position: absolute;
  right: 7%;
  top: 5%;
  &:hover {
		animation: 0.3s rotate90Clockwise;
	}
}

/*--------------------------------------------------
--------------------------------------------------
These are for CreateGroupDescription.js
--------------------------------------------------
--------------------------------------------------*/
.form-font{
  font-family: $f2;
  font-size: 1pc;
}

.mute-font{
  font-family: $f3;
  font-size: 0.9pc;
  color: #db6c62;
}

.create-button{
  font-family: $f3;
  font-size: 1.2pc !important;
  text-align: center;
  position: relative;
  height: 10%;
  width: 28%;
  left: 20%;
}

.cancel-button{
  @extend .create-button;
  left: 25%;
}
