$gray: #ccc;

$defaultfont: OpenSans;
$boldfont: OpenSans-Bold;
$semiboldfont: 'OpenSans-SemiBold';
$titlefont: Oswald;
$titleboldfont: Oswald-Bold;

.find-title{
  border-radius: 10px;
  margin: 20px 20px;
  height: 50px; /*requires explicit height*/
  font-family: $titleboldfont;
  font-size: 2pc;
  text-align: left;
  color: black;
}

.find-outer-wrap{
  margin: 10px 10px;
}

.row-line {
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
}

.col-title{
  font-family: $defaultfont;
  color: black;
  height: 30px; /*requires explicit height*/
  margin: 10px 0px;
  font-size: 1pc;
  text-align: middle;
}

.group-row {
  margin: 10px 10px;
}

.group-name{
  font-family: $defaultfont;
  color: white;
  width: 50px;
  height: 50px; /*requires explicit height*/
  font-size: 1pc;
  text-align: middle;
  background-color: gray;
}

.group-info{
  font-family: $defaultfont;
  color: black;
  height: 25px; /*requires explicit height*/
  font-size: 1pc;
  text-align: middle;
}

.group-list{
  border: 5px solid yellow;
  width: 470px;
  margin-left: 10px;
  padding-left: 30px;
}