@import '_base.scss';

.box-wrap{
  margin: 10px 10px;
}

.col-title{
  font-family: $f1;
  color: black;
  height: 30px; /*requires explicit height*/
  font-size: 0.8pc;
  text-align: middle;
}

.group-name{
  font-family: $f1;
  color: white;
  width: 80%;
  height: 100%;
  font-size: 1pc;
  text-align: middle;
  background-color: gray;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
}

.group-column{
  align-content: center;
  align-items: center;
}

.group-info{
  font-family: $f2;
  color: black;
  height: 25px; /*requires explicit height*/
  font-size: 1pc;
  text-align: middle;
  position: relative;
}

.create-group-button{
  font-family: $f3;
  font-size: 1pc;
  position: absolute;
  right: 5%;
  bottom: 8%;
}

.find-title{
  border-radius: 10px;
  height: 50px; /*requires explicit height*/
  font-family: $f3;
  font-size: 2pc;
  text-align: left;
  color: black;
  margin: 10px;
}

.find-outer-wrap{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
}

.scroll{
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.scroll-content{
  flex: 1;
}
