@import '_base.scss';

.carousel-custom{
  width: 320px;
  text-align: center;
  margin: auto;
}

.carousel-font{
  font-family: $f2;
  text-align: center;
  color: black;
}

.carousel-indicators{
  z-index: 1 !important;
}