@import '_base.scss';

.carousel-custom{
  height: 300px;
  text-align: center;
  margin: auto;
}

.carousel-item{
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
}

.carousel-inner{
  width: 100%;
  height: 100%;
}

.carousel-font{
  background-color: rgba(white, 0.5);
  font-family: $f2;
  text-align: center;
  color: black;
}

.carousel-img-1{
  height:100%;
}

.carousel-img-2{
  width:100%;
}

.carousel-caption{
  background-color: rgba($darkgray, 0.3);
}

.carousel-indicators{
  z-index: 1 !important;
}

.circle-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $darkgray;
  box-shadow: 0px 0px  rgba(0,0,0,0.6);
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  margin-top: 10px;
}

.form-wrap {
  padding: 0px 10px 0px;
}

.submit-button{
  font-family: $f3;
  font-size: 1.2pc !important;
}
