@import '_base.scss';

.prof-title{
  border-radius: 10px;
  height: 50px; /*requires explicit height*/
  font-family: $f3;
  font-size: 2pc;
  text-align: middle;
  color: black;
}

.group-row{
  margin: 1px;
}

.name {
  text-align: center;
}
