@import '_base.scss';

/*--------------------------------------------------
--------------------------------------------------
These are for Redeem.js
--------------------------------------------------
--------------------------------------------------*/
.box-wrap{
  margin: 10px 10px;
}

.scroll{
  position: relative;
  top: 3%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/*--------------------------------------------------
--------------------------------------------------
These are for StickerTitle.js
--------------------------------------------------
--------------------------------------------------*/
.row-wrap {
	border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.redeem-title{
  font-family: $f3;
  font-size: 28px;
  text-align: left;
  color: black;
  margin: 10px;
  vertical-align: bottom;
}

.balance-wrap {
  text-align: right;
  height: 100%;
  vertical-align: bottom;
}

.balance-label {
  display: inline-flex;
  font-family: $f3;
  font-size: 18px;
  color: black;
  line-height: 48px;
  vertical-align: bottom;
}

.balance{
  @extend .balance-label;
  color: #db6c62 !important;
}

/*--------------------------------------------------
--------------------------------------------------
These are for Sticker.js
--------------------------------------------------
--------------------------------------------------*/
.card {
	transition: all 0.2s ease-out;
	border-color:transparent;
}
.card-footer {
	background: transparent;
	border-top: transparent;
}

.card:hover {
	border: 0.04rem solid rgba(0,0,0,0.2);
	box-shadow:2px 2px 5px 0px rgba(0,0,0, 0.2);
}

.card-footer:hover {
	background: rgba(247, 247, 247, 0.5);
}

.reward-wrap {
  border: 1px solid #bbbbbb;
}

.img-container {
	overflow: hidden;
}

.img-container:hover .cart-btn{
	transform: translate(0,0);
}

.card-img-top{
	transition: all 0.5s linear;
}

.sticker_link, .sticker_link:hover {
   text-decoration: none;
   background: rgba(247, 247, 247, 0.5);
   color: black;
}


.redeem-item-wrap {
  position: relative;
  top: 3%;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 10px 10px;
  flex: 1;
}

.sticker-name {
  font-family: $f3;
  font-size: 1.4pc;
  color: #black;
}

.sticker-price {
  font-family: $f2;
  font-size: 1pc;
  vertical-align: center;
}

/*--------------------------------------------------
--------------------------------------------------
These are for StickerDetails.js
--------------------------------------------------
--------------------------------------------------*/
.detail-wrap {
  background: white;
  padding: 0px 20px 20px 20px;
  height: 144.5vh;
}

.sticker-title{
  font-family: $f3;
  font-size: 2.4pc;
  text-align: center;
  color: black;
}

.sticker-detail{
  font-family: $f2;
  font-size: 1pc;
  text-align: center;
  color: black;
}

.sticker-info{
  @extend .sticker-detail;
  font-size: 1.4pc !important;
}

.divider {
  width: 15px;
  height: auto;
  display: inline-block;
}

.redeem_link:hover {
   text-decoration: none;
   background: none;
}

/*--------------------------------------------------
--------------------------------------------------
These are for StickerModal.js
--------------------------------------------------
--------------------------------------------------*/
.confirm-title {
  @extend .redeem-title;
  height: 20px !important;
}

.custom-close-icon {
  animation: 0.3s rotate90Counter;
  color: black;
  font-size: 1.5rem;
  vertical-align: middle;
  cursor: pointer;
  background: white;
  border-radius: 100%;
  position: absolute;
  right: 7%;
  top: 5%;
  &:hover {
		animation: 0.3s rotate90Clockwise;
	}
}

.yes-button {
  font-family: $f3;
  font-size: 1.2pc !important;
  text-align: center;
  position: relative;
  height: 10%;
  width: 28%;
  left: 20%;
}

.cancel-button {
  @extend .yes-button;
  left: 25%;
}
