@import '_base.scss';

/*--------------------------------------------------
--------------------------------------------------
These are for Redeem.js
--------------------------------------------------
--------------------------------------------------*/
.box-wrap{
  margin: 10px 10px;
}

.card {
  transition: all 0.2s ease-out;
}

.redeem-title{
  border-radius: 10px;
  height: 50px; /*requires explicit height*/
  font-family: $f3;
  font-size: 2pc;
  text-align: left;
  color: black;
  margin: 10px;
  vertical-align: bottom;
}

.balance-wrap {
  text-align: right;
  height: 100%;
  vertical-align: bottom;
}

.balance-label {
  display: inline-flex;
  font-family: $f3;
  font-size: 18px;
  color: black;
  line-height: 48px;
  vertical-align: bottom;
}

.balance{
  display: inline-flex;
  font-family: $f3;
  font-size: 18px;
  color: #db6c62;
  line-height: 48px;
  vertical-align: bottom;
}

.scroll{
  position: relative;
  top: 3%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/*--------------------------------------------------
--------------------------------------------------
These are for Sticker.js
--------------------------------------------------
--------------------------------------------------*/
.reward-wrap {
  border: 1px solid #bbbbbb;
}

.redeem-item-wrap{
  position: relative;
  top: 3%;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 10px 10px;
  flex: 1;
}

.sticker-name{
  font-family: $f3;
  font-size: 1.4pc;
  color: #black;
}

.sticker-price{
  font-family: $f2;
  font-size: 1pc;
  vertical-align: center;
}

/*--------------------------------------------------
--------------------------------------------------
These are for StickerDetails.js
--------------------------------------------------
--------------------------------------------------*/
.sticker-title{
  font-family: $f3;
  font-size: 2.4pc;
  text-align: center;
  color: black;
}

.sticker-detail{
  font-family: $f2;
  font-size: 1pc;
  text-align: center;
  color: black;
}

.sticker-info{
  @extend .sticker-detail;
  font-size: 1.4pc !important;
}

/*--------------------------------------------------
--------------------------------------------------
These are for StickerModal.js
--------------------------------------------------
--------------------------------------------------*/
.confirm-title{
  @extend .redeem-title;
  height: 20px !important;
}

.custom-close-icon {
  animation: 0.3s rotate90Counter;
  color: black;
  font-size: 1.5rem;
  vertical-align: middle;
  cursor: pointer;
  background: white;
  border-radius: 100%;
  position: absolute;
  right: 7%;
  top: 5%;
}

.yes-button{
  font-family: $f3;
  font-size: 1.2pc !important;
  text-align: center;
  position: relative;
  height: 10%;
  width: 28%;
  left: 20%;
}

.cancel-button{
  @extend .yes-button;
  left: 25%;
}
