@import '_base.scss';

.books-image {
  margin: 10px 10px 30px;
}

.login-button{
  font-family: $f3;
  font-size: 1.2pc !important;
}

.divider {
  width: 15px;
  height: auto;
  display: inline-block;
}

.form-title {
  font-family: $f4;
  font-size: 2pc;
  color: #db6c62;
  margin-bottom: 20px;
}

.form-font {
  font-family: $f3;
  font-size: 1pc;
  vertical-align: bottom;
}

.form-label {
  @extend .form-font;
  font-family: $f2;
}

.invalid-feedback{
  text-align: left;
}
